.App {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

div {
display: inline;


}
 button {
display: inline-block;
margin: 50px ;
padding: 10px;
align-items: center;
border-radius: 5px;
background-color: chartreuse;
 }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}

